body {
    font-family: 'Arial', sans-serif;
    background-image: url('bleach.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    color: #665151;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, section, footer {
    color: blanchedalmond;
    margin: auto;
    width: 50%;
    border-color: azure;
    background-color: rgba(0, 0, 0, 0.7); /* Adjust background color and transparency as needed */
}

h1 {
    color: blanchedalmond;
    margin: 0;
    border-color: azure;
}

footer {
    color: cyan;
    margin-top: auto;
    width: 100%;
    background-color: #00000000;
    border-color: black;
}

.footer-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.footer-buttons a {
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
}

.footer-buttons a img {
    width: 30px;
    height: 30px;
}



/* Add this CSS to apply the falling animation */
.falling {
    animation: fallOffScreen 1s forwards;
}

@keyframes fallOffScreen {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(100vh); /* Move the page down by the height of the viewport */
    }
}
